@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared Style */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
}
.text-bold{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0;
}

.display-flex{
    display: flex;
}
.bg-light-orange{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark 01 */
.text-black{
    color: #131313;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
}

main{
    max-width: 80%;
    margin: 0 auto;
}

body *> section{
    margin-top: 5vh;
}

/* Header Style */


.link-item{
    list-style: none;
    margin-right: 30px;
}


.banner{
    padding-top: 5%;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:500;
    line-height: 1.625;
}

.navbar{
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
}
.banner, .navbar{
    max-width: 80%;
    margin:0 auto;
}

/* Banner Styles */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-heading{
    font-size: 4rem;
}
.banner-description{
    line-height: 1.625;
    margin-bottom: 32px;
}
.ft-image, .banner-image{
    width: 100%;
}

/* Feature */
.feature{
    align-items: center;
    justify-content: center;
}

.ft-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 50%;
}
.ft-content{
    max-width: 537px;
    margin: 0 auto;    
    padding: 5%;
    width: 50%;
}
.ft-heading{
    font-size: 2.8rem;
}
.ft-description{
    margin-bottom: 10%;
}
#p1{
    font-weight: 500;
}
#p3{
    color: #FF900E;
}

/* Facts Style */
.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.card{
    border: 1px solid #FF900E;
}
/* Small Devices */
@media screen and (max-width: 576px){
    .display-flex{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ft-image-container{
        width: 100%;
    }
    .ft-content{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar{
        flex-direction: column;
    }
}

